@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

body {
  font-family: Arial, sans-serif;
}

.first{
    align-items: center; 
}

.button-74{
    position: fixed;
    bottom: 20px; /* 您可以根據需要調整這個值 */
    right: 20px; /* 您可以根據需要調整這個值 */
    z-index: 9999;
    min-width: 100px;
}
.button-74{
    background-color: #f9e500;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.share_emp_active{
    color: black;
    font-weight: 1000;
    font-size: 15px;
} 

.active{
    color: rgb(188, 187, 187);
    font-weight: 1000;
    font-size: 15px;
}

.active:hover,.share_emp_active:hover{
    color: rgb(0, 0, 0);
    font-weight: 1000;
}
    
.version-container,.content-nav {
  width: 85%;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(2, 34, 63, 0.2)
}

.nav-container{
  background-color: rgb(242, 241, 241);  
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(89,75,75,1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(89,75,75,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(89,75,75,1);
  
}

.item-text{
    font-size: 25px;
    margin-right: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
}

.item-content,.search,.linkbutton{
    width: 33%;
}

.item-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkbutton {
    margin-top: auto;
    margin-left: 30px;
}

.nav-item-button{
    background-color: rgb(242, 241, 241);
    border: 0;
    margin: 0;
    padding: 0;
}

.post {
    background: #fff;
    margin: 1px 0;
    padding: 15px 15px 0px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(2, 34, 63, 0.2)
}

.post img {
    max-width: 100%;
    border-radius: 50%;
}

.post-name,.post-time{
    color: #444444;
    text-align: left;
}
  
.post-time{
    font-size: 13px;
    margin-left: 10px;
    border-bottom: 0.5px #444444 solid;
}

.post-name{
    font-weight: bold;
    font-size: 14px;
}
  

h5{
    font-weight: bold; 
}
.tool-button{
    position: absolute;
    top: 0;
    right: 0;
}

.tool {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.tool:focus, .tool:active ,.tool:hover{
    background: none;
    box-shadow: none;
    outline: none;
    box-shadow: none;
}


.post-content {
    margin-top: 10px;
}

.post-text{
    font-size: 14px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

.a-text{
    float: right;
    color: #666;
}

.notfound{
    font-size: 40px;
    font-weight: bold;
}
  
.notfound-text{
    font-size: 30px;
}
  
.notfound-All{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:100px;
    margin-bottom: 50px;
}

.a-text.message{
    margin-left: 10px;
}

.btn.message{
    margin: 0px 5px 0px 5px;
}
  
.messagre_text{
    font-size: 13px;
}

.userbutton{
    background-color: #f8f9fa;
    border-top: 1px solid #0000002a;
    border-bottom: none;;
    border-left: none;;
    border-right: none;
    margin: 8px 0px 0px 0px;
}

.btn-light{
    width:33%;
}

.btn.message{
    margin: 0px 5px 0px 5px;
}


.uesr-text{
    font-weight: bold;
    color: #666;
}

h5{
    font-weight: bold; 
}
  
.notfound{
    font-size: 40px;
    font-weight: bold;
}
  
.notfound-text{
    font-size: 30px;
}
  
.notfound-All{
    text-align: center;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px; /*改變滾輪的寬度*/
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /*改變滾輪軌道的顏色*/
}

::-webkit-scrollbar-thumb {
    background: #888; /*改變滾輪本身的顏色*/
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /*改變滑鼠指向滾輪時的顏色*/
}

#MessageForm {
    flex-grow: 1; /* 表單填滿除按鈕外的所有可用空間 */
}
  
.message-input {
    display: flex;
    margin-right: 10px; /* 留言框和按鈕之間的間隔 */
}
  
.btn-primary {
    flex-shrink: 0; /* 防止按鈕縮小 */
}
  
.modal-body {
    height: 70vh; /* 或者根據您的需求調整 */
    overflow-y: auto; /* 允許內容滾動 */
}
.modal-dialog-custom {
    max-height: 200px;
    max-width: 500px;
}

.modal-body-custom{
    max-height: 125px;
    max-width: 500px;
}

.modal-footer{
    max-width: 500px;
}
.modal-dialog {
    width: 500px; /* 更新這個值來設定您想要的寬度 */
    height: 300px; /* 更新這個值來設定您想要的高度 */
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 750px;
    }
    .nav-container {
        flex-direction: column; 
    }
    .linkbutton,.search,.item-content{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .post-text{
        font-size: 12px;
    }
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
    .item-text{
      font-size: 20px;
    }
    .linkbutton{
      display: flex;
      width: 33%;
    }
    .company_post-img{
      width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
    .linkbutton{
      display: flex;
      width: 33%;
    }
  }
  
  @media (min-width: 1400px) {
    .container,.company_item-img,.company_post-img{
        max-width: 100%;
    }
  }
  